Edie Miglio

email: edie.miglio@polimi.it


# Introduction to Python

Python is an interpreted language. For the pourposes of this course I suggest you to use either [Colab](https://colab.research.google.com/) or install [Anaconda](https://www.anaconda.com/).

The approach we will adopt is based on the resolution of small problems and projects. In each project we will introduce some features of the language. The course will focus on the use of Python for managing data and for implementing mathematical algorithms.

## Project 1: Fahrenheit to Celsius

**Skills**:

*   input from the command line
*   casting (string to float)
*   variable assignements
*   simple math formulas
*   print
*   functions
* importance of the indentation

**Problem**: ask the user a temperature in Fahrenheit and print the corresponding Celsius value using the the formula
$$
^\circ C = \frac{5}{9}(^\circ F - 32).
$$

In [ ]:
# Ask the user the Fahrenheit temperarature. Notice that the input given by the
# user is a string
fahrenheit_string = input("Enter the temperature in Fahrenheit:")
# Convert the string to number (casting)
fahrenheit = float(fahrenheit_string)
# Use the conversion formula to find the Celsius temperature
celsius = (fahrenheit - 32) * 5/9
# Print the Celsius value
print(celsius) # Print the Celsius value

The problem with the implementation we have just seen is that if we want to perform multiple conversion we ha to re-run the cell. In order to have a tool that can be called many times in an easy way we can create a **function**: a function is defined by the keyword <code>def</code>. Let us see how we can change the implementation making use of the function concept.

In [ ]:
# NOTE the indentation!
def convert(s):   # Definition of the function with the input parameter(s)
  f = float(s)
  c = (f - 32) * 5/9
  return c      # Return the Celsius temperature

Let us now use the new defined function.

In [ ]:
convert('55')

In [ ]:
# Ask the user the Fahrenheit temperarature. Notice that the input given
# by the user is a string
fahrenheit_string = input("Enter the temperature in Fahrenheit:")
celsius = convert(fahrenheit_string) # Call the function
print(celsius)

**Exercise 1** Write a Python function for converting from Kelvin to Fahrenheit. The formula is
$$
F = 1.8(K-273.15) + 32.
$$

In [ ]:
def convert1(s):   # Definition of the function with the input parameter(s)
 k = float(s)
 f = 1.8*(k-273.15)+32
 return f

In [ ]:
kelvin_string = input("Enter the temperature in Kelvin:")
farhenheit = convert1(kelvin_string) # Call the function
print("The temperature in F is:",farhenheit)

## Project 2: van der Waals equation

The van der Waals equation of state is a modification of the ideal gas law and i takes into account also the molecular size and the molecular interaction forces. This equation can be written as
$$
\left[P+a\left(\frac{n}{V}\right)^2\right]\left(V-nb\right)=nRT,
$$
where $P\,[Pa]$ is the pressure, $V \, [m^3]$ is the volume, $T [K]$ is the temperature, $n$ is the number of moles, $R=8,314 \, [J / (mol âˆ™ K)] $ is the gas constant, finally $a [Pa \, m^6/mol^2]$ and $b [m^3/mol]$ are the van der Waals coefficients characterizing different gases. In the following table values of $a$ and $b$ are reported for some gases.

Gas            |     a   | b
---------------|---------|---------
Helium         | 3.46e-3 | 23.71e-6
Neon           | 2.12e-2 | 17.10e-6
Hydrogen       | 2.45e-2 | 26.61e-6
Carbon dioxide | 3.96e-1 | 42.69e-6
Water vapor    | 5.47e-1 | 30.52e-6
Oxygen         | 1.38e-1 | 31.86e-6

**Skills**:

*   Function with many input parameters
*   Help
*   Simple formatting
*   Optional input arguments and default values
* Positional and keyword arguments

**Problem**: write a Python function that computes the pressure given the temperature and the volume for a real gas. The input parameters of the function should be $T, V, n, a$ and $b$; the output is the pressure $P$.

In [ ]:
def vanderwaals(T,V,n,a,b):
  R = 8.314
  P = n*R*T/(V-n*b)-a*n**2/V**2
  return P

Let us compute the pressure exerted by $1 \, mol$ of $O_2$ confined in a volume of $0.001 \, m^3$ at $T=273.15 \, K$.

In [ ]:
P=vanderwaals(273.15,0.001,1,1.38e-1,31.86e-6)
print(P)

If you want to visualize the result in scientific notation you can use <code>format</code>. Let us see the help.

In [ ]:
#help(format)

In [ ]:
#help('FORMATTING')

In [ ]:
P_sn="{:e}".format(P)
print(P_sn)

Let us now suppose we want to modify the previous function in such a way that, by default, $a$ and $b$ are assigned the values relative to the oxygen and the user con override these default values.

In [ ]:
def vanderwaals1(T,V,n,a=1.38e-1,b=31.86e-6):
  R = 8.314
  P = n*R*T/(V-n*b)-a*n**2/V**2
  return P

In [ ]:
P=vanderwaals1(273.15,0.001,1)
print("{:e}".format(P))

Now let us suppose we want to compute the pressure exerted by $1 \, mol$  of  Helium confined in a volume of  $0.001\,m^3$  at  $T=273.15 \, K$.

In [ ]:
3.46e-3	23.71e-6

In [ ]:
P=vanderwaals1(273.15,0.001,1,a=3.46e-3,b=23.71e-6)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,3.46e-3,23.71e-6)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,b=23.71e-6,a=3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,23.71e-6,3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,a=3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,b=3.46e-6)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,b=23.71e-6,a=3.46e-3,)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,b=23.71e-6,1,a=3.46e-3)
print("{:e}".format(P))

**Exercise 2** Write a Python function for computing the temperature given all the other parameters. The default values for $a$ and $b$ are the ones for the hydrogen.

## Project 3: area of a circle

**Skills**:

* Module import
* Shortcut name of a module
* Use of a function belonging to an imported module
* Power operator
* Type function
* Function with multiple output
* Tuples and immutable objects
* Access elements of a complex structure (tuple)
* Understand error messages
* Content of a module

**Problem.** Write a function to compute the length and the area of a circle of radius $r$.

In [ ]:
def circle1(r):
  '''
  Function that computes the length of a circle and its area
  INPUT: r = radius
  OUTPUT: L = length
          A = area
  '''
  import math
  L = 2*math.pi*r
  A = math.pi*r**2
  return L,A

In [2]:
help(circle1)

Help on function circle1 in module __main__:

circle1(r)
    Function that computes the length of a circle and its area
    INPUT: r = radius
    OUTPUT: L = length
            A = area

Let us test our function using $r=3$.

In [3]:
R=circle1(3)

In [5]:
circle1(3)

(18.84955592153876, 28.274333882308138)

In [6]:
type(R)

tuple

In [7]:
R[0]

18.84955592153876

In [8]:
R[1]=6

TypeError: 'tuple' object does not support item assignment

In [ ]:
R=circle1(5)

In [11]:
L, A = circle1(5)

In [10]:
print(A)

78.53981633974483

In [ ]:
print(R)

In [ ]:
R[0]

In [ ]:
type(R)

In many cases (most of the times) the names of imported modules are quite long so a shortcut can be used. Let us see an example.

In [ ]:
def circle2(r):
  import math as mt
  L = 2*mt.pi*r
  A = mt.pi*r**2
  return L,A

In [ ]:
def circle3(r):
  from math import pi
  L = 2*pi*r
  A = pi*r**2
  return L,A

In [ ]:
L,A = circle3(3)
print(L,A)
print(circle3(3))

In [ ]:
A=circle3(3)[1]
print(A)

In [ ]:
_ , A2 =circle2(4)

In [ ]:
A2

In [ ]:
D = circle1(3)
print(D)

In [ ]:
help(type)

In [ ]:
type(D)

In [ ]:
D[0]

In [ ]:
D[1]

In [ ]:
D[2]

In [ ]:
D[1]=3

In [14]:
import math as mt

In [16]:
dir(mt)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [15]:
help(mt.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

In [12]:
from math import cos,sin,pi

**Exercise 3.** Write a Python function that computes the lengths of the edges $b$ and $c$ of a right triangle given the length of the hypotenuse $a$ and the amplitude of one the angle $\gamma$ (see the following figure).

*Hint*: the function <code>sin</code> and <code>cos</code> belong to the <code>math</code> module. Try <code>help(math)</code> to see the content of the module!

$$
c=a\sin(\gamma)
$$
$$
b=a\cos(\gamma)
$$

![triaes01_rapp4.png]()

In [21]:
c = (1,'r','pippo',mt.sqrt(2))

In [18]:
type(c)

tuple

In [22]:
c

(1, 'r', 'pippo', 1.4142135623730951)

In [29]:
l = list(range(20,10,-1))
print(l)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [ ]:
pri