Edie Miglio

email: edie.miglio@polimi.it

# Introduction to Python

## Project 4: temperature conversion revised

**Skills:**
* docstring
* string definition
* string slicing and indices
* <code>if, elif</code> statement
* logical operator <code>==</code>

**Project**. We want to write a function that is able to perform conversion from Farheneit to Kelvin and viceversa.

In [1]:
def convtemp(temp):       # temp is a string of the form '10K' or '10F'
  '''
  Function to convert from Kelvin to Fahrenheit and viceversa
  INPUT:
    - temperature to be converted in the form of a string 'valueK|F'
  OUTPUT:
    - converted temperature
  '''
  temp_value = float(temp[0:-1])
  temp_type = temp[-1]    # extract the last character of the string
  #print(temp_value, type(temp_value))
  #print(temp_type, type(temp_type))
  if temp_type == 'K':
    out_temp = 1.8*(temp_value - 273.15)+32
  elif temp_type == 'F':
    out_temp = (temp_value - 32)/1.8+273.15
  else:
    print('Error!')
    out_temp = None
  return out_temp

In [2]:
help(convtemp)

Help on function convtemp in module __main__:

convtemp(temp)
    Function to convert from Kelvin to Fahrenheit and viceversa
    INPUT:
      - temperature to be converted in the form of a string 'valueK|F'
    OUTPUT:
      - converted temperature

A string is defined using single or double quotes.

In [6]:
tt=convtemp('-40K')

In [7]:
print(tt)

-531.67

**Exercise 4**. Extend the previuos function so that it can handle Kelvin, Fahrenheit and Celsius and it gives an error messages in other cases. You have to add an additional input parameter in order to specify the output format.

## Project 5: computation of the machine epsilon

**Skills:**
* while loop
* logical operator <code>!=</code>

**Project.** Let us compute the machine epsilon `eps` using `while`. Remember that the definition of $\epsilon$ is the smallest number such that $1\neq 1+\epsilon$.

In [10]:
e=1.0
while (1+e!=1):
  e=e/2

print(2*e)

2.220446049250313e-16

In [11]:
import numpy as np     # we will see numpy in a following lecture
print(np.finfo(float).eps)

2.220446049250313e-16

## Project 6: conversion of a Roman number to decimal format

**Skills:**
* Dictionaries
* <code>for</code> loop
* <code>range</code> and <code>len</code> function
* <code>-=, +=</code> operators
* <code><</code> logical operator

**Problem.** Write a Python function that converts a Roman number to decimal format.

In [12]:
# Length of a string
Roman='MCLXXI'
print(len(Roman))

6

In [14]:
range(10)

range(0, 10)

In [13]:
l = list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Create list of numbers
print(list(range(2,10,2)))

In [22]:
# for loop and extraction of elements of a string
Roman='VII'
for i in range(len(Roman)-1):
  c1=Roman[i]
  c2=Roman[i+1]
  print(i,c1,c2)

0 V I
1 I I

In [ ]:
# Simple example of a dictionary
g ={'pippo':3,'pluto':7,'elio':5,4:7,'paperino':[2,3]}

In [ ]:
l = [1,2,5,7]
4 in l

In [ ]:
g.keys()

In [ ]:
# Use of range in loop
start = 10
stop = 20
step =2
for j in range(start,stop,step):
  print(j)

In [ ]:
# Extract information from a dictionary
g['elio']

In [18]:
# Function to convert a Roman number to decimal
def Roman2Decimal(Roman):
    symbols = {
    'I': 1,
    'V': 5,
    'X': 10,
    'L': 50,
    'C': 100,
    'D': 500,
    'M': 1000
    }
    Decimal = 0
    for i in range(len(Roman) - 1):
        left = Roman[i]
        right = Roman[i + 1]
        if symbols[left] < symbols[right]:
            Decimal -= symbols[left]
        else:
            Decimal += symbols[left]
    Decimal += symbols[Roman[-1]]
    return Decimal

In [21]:
# Use of the function
a=Roman2Decimal('VII')
print(a)

7

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l1+l2

**Exercise.** Write a Python function that converts an integer to its binary format.

*Hint:* Consider the following example where we want to convert $13$ to its binary format:

$$
13:2 = 6 \textrm{ with remainder } 1 \\
 6:2 = 3 \textrm{ with remainder } 0 \\
 3:2 = 1 \textrm{ with remainder } 1 \\
 1:2 = 0 \textrm{ with remainder } 1,
$$

now let us take the remainders in reverse order *i.e.* $1101$, this is the binary format of $13$.

The remainder of an integer division is obtained using the operator <code>%</code> and the integer part of the result of a division can be obtained using <code>int</code>. See the following examples:

In [27]:
# % operator
7%2

1

In [26]:
int(7/2)

3

In [28]:
# // operator (integer division)
7//2

3

In [ ]:
s = 'numerical'
s[::-1]

In [ ]:
# Revrsing a list
a=[1,0,0,1,1,0,1]
b=a[::-1]
print(b)

In [ ]:
# Append a new element to a list
resti=[]
resti.append(1)
resti

In [31]:
#@title Solution
def int2bin(N):
  b=[]
  while(N!=0):
    rem = N%2
    N = N//2
    b.append(rem)
  b = b[::-1]
  return b

In [34]:
# Apply the function
Nb = int2bin(25)
# Convert the result to string
Nb = str(Nb)
print(Nb)

[1, 1, 0, 0, 1]

In [35]:
# Remove square brackets, commas and spaces in the string to get a better output.
Nb = Nb.replace('[','').replace(']','')
Nb = Nb.replace(',','')
Nb = Nb.replace(' ','')

In [36]:
print(Nb)

11001

**Exercise.** Conversion integer hexadecimal

In [ ]:
#@title Solution
def int2hex(N):
    symbs = {0: '0', 1: '1', 2: '2', 3: '3', 4: '4',
                    5: '5', 6: '6', 7: '7',
                    8: '8', 9: '9', 10: 'A', 11: 'B', 12: 'C',
                    13: 'D', 14: 'E', 15: 'F'}
    h = ''
    while(N > 0):
        rem = N % 16
        h = symbs[rem] + h
        N = N // 16
    return h

In [ ]:
int2hex(255)